.fa-all {
  background-color: #deefc4;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 28px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #347758;
  font-size: 16px;
  margin-right: 10px;
  padding: 15px;
  transition: border-radius 0.4s ease;
}
.fa-all:hover {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@media only screen and (min-width: 320px)and (max-width: 400px) {
  .nav-link {
    width: 50% ;
  }
  .nav-link img {
    width: 100%;
  }
 .fa-user, .test{
     display: none;
 }
}
@media only screen and (max-width: 768px){
    

}
